#App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.line {
  display: flex;
  justify-content: center;
}

.box {
  width: 200px;
  height: 200px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.cross,
.circle {
  width: 100px;
}
